https://stages.ai/competitions/104/discussion/talk/post/1105

In [1]:
import pandas as pd

DATA_PATH = '../input/data/train/'
FILE_NAME = 'train.csv'

In [2]:
df = pd.read_csv(DATA_PATH+FILE_NAME)
df_new = df.copy()

## Gender Label Correction

In [3]:
gender_f_to_m = [
    '006359', 
    '006360', 
    '006361', 
    '006362', 
    '006363', 
    '006364', 
]

gender_m_to_f = [
    '001498-1',
    '004432'
]

In [4]:
df_gender = df.copy()

In [5]:
df_gender.set_index(['id'], inplace=True)

In [6]:
df_gender

        gender   race  age                    path
id
000001  female  Asian   45  000001_female_Asian_45
000002  female  Asian   52  000002_female_Asian_52
000004    male  Asian   54    000004_male_Asian_54
000005  female  Asian   58  000005_female_Asian_58
000006  female  Asian   59  000006_female_Asian_59
...        ...    ...  ...                     ...
006954    male  Asian   19    006954_male_Asian_19
006955    male  Asian   19    006955_male_Asian_19
006956    male  Asian   19    006956_male_Asian_19
006957    male  Asian   20    006957_male_Asian_20
006959    male  Asian   19    006959_male_Asian_19

[2700 rows x 4 columns]

In [7]:
for i in gender_f_to_m:
    df_gender.at[i, 'gender'] = 'male'

for i in gender_m_to_f:
    df_gender.at[i, 'gender'] = 'female'

In [8]:
df_gender['gender'].value_counts()

female    1654
male      1046
Name: gender, dtype: int64

In [9]:
df['gender'].value_counts()

female    1658
male      1042
Name: gender, dtype: int64

In [10]:
df_new

          id  gender   race  age                    path
0     000001  female  Asian   45  000001_female_Asian_45
1     000002  female  Asian   52  000002_female_Asian_52
2     000004    male  Asian   54    000004_male_Asian_54
3     000005  female  Asian   58  000005_female_Asian_58
4     000006  female  Asian   59  000006_female_Asian_59
...      ...     ...    ...  ...                     ...
2695  006954    male  Asian   19    006954_male_Asian_19
2696  006955    male  Asian   19    006955_male_Asian_19
2697  006956    male  Asian   19    006956_male_Asian_19
2698  006957    male  Asian   20    006957_male_Asian_20
2699  006959    male  Asian   19    006959_male_Asian_19

[2700 rows x 5 columns]

In [11]:
#df_new.drop(['gender'], axis=1, inplace=True)
df_new['gender'] = df_gender['gender'].tolist()

In [12]:
df_new

          id  gender   race  age                    path
0     000001  female  Asian   45  000001_female_Asian_45
1     000002  female  Asian   52  000002_female_Asian_52
2     000004    male  Asian   54    000004_male_Asian_54
3     000005  female  Asian   58  000005_female_Asian_58
4     000006  female  Asian   59  000006_female_Asian_59
...      ...     ...    ...  ...                     ...
2695  006954    male  Asian   19    006954_male_Asian_19
2696  006955    male  Asian   19    006955_male_Asian_19
2697  006956    male  Asian   19    006956_male_Asian_19
2698  006957    male  Asian   20    006957_male_Asian_20
2699  006959    male  Asian   19    006959_male_Asian_19

[2700 rows x 5 columns]

In [13]:
df_new.gender.value_counts()

female    1654
male      1046
Name: gender, dtype: int64

## Mask Label Correction

In [14]:
mask = ['005227'] # normal <-> incorrect

In [15]:
IMG_PATH = '../input/cropped/train/images/'

In [16]:
df_mask = df.copy()

In [17]:
df_mask.set_index(['id'], inplace=True)

In [20]:
path = df_mask['path'].loc[mask[0]]

In [21]:
import os

os.chdir(IMG_PATH+path)

In [22]:
os.getcwd()

'/opt/ml/input/cropped/train/images/005227_male_Asian_22'

In [23]:
!ls

incorrect_mask.jpg  mask2.jpg  mask4.jpg  normal.jpg
mask1.jpg	    mask3.jpg  mask5.jpg

In [24]:
!mv incorrect_mask.jpg wrong_incorrect_mask.jpg

In [25]:
!ls

mask1.jpg  mask3.jpg  mask5.jpg   wrong_incorrect_mask.jpg
mask2.jpg  mask4.jpg  normal.jpg

In [26]:
!mv normal.jpg wrong_normal.jpg

In [27]:
!ls

mask1.jpg  mask3.jpg  mask5.jpg			wrong_normal.jpg
mask2.jpg  mask4.jpg  wrong_incorrect_mask.jpg

In [28]:
!mv wrong_incorrect_mask.jpg normal.jpg
!mv wrong_normal.jpg incorrect_mask.jpg

In [29]:
!ls

incorrect_mask.jpg  mask2.jpg  mask4.jpg  normal.jpg
mask1.jpg	    mask3.jpg  mask5.jpg